#navbarContainer
{
    margin-left:0;
    margin-right:0;
}

nav .navbar-nav li a
{
    color: white !important;
}

nav a
{
    color: white !important;
}

.jumbotron
{
    margin-top:20px;
}

.container
{
    display:inline-flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.container > div
{
    flex-grow: 0;
}

.row
{
    margin:10px;
}