<!doctype html>
<html>
<head>
	<title>Chimp Trails</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    {{!-- takes code from context.cssstyles --}}
    {{#each cssstyles}}
        <link rel="stylesheet" href="/static/css/{{this}}">
    {{/each}}

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <script src="https://kit.fontawesome.com/0789794124.js" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>


</head>
<body>

    {{> navbar}}
	{{{body}}}

    {{!-- takes code from context.jsscripts --}}
    {{#each jsscripts}}
        <script src="/static/js/{{this}}"></script>
    {{/each}}
    
</body>
</html>