<!doctype html>
<html>
<head>
	<title>Bicycle Shop</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    
    {{#each jsscripts}}
        <script src="/static/js/{{this}}"></script>
    {{/each}}

    {{#each cssstyles}}
        <link rel="stylesheet" href="/static/css/{{this}}">
    {{/each}}

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        
        <a class="navbar-brand" href="#">C H I M P  T R A I L S</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/customers">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/repairs">Repairs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sales">Sales</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/items">Items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/userProfile">Profile</a>
        </li>
    </div>
</nav>
	{{{body}}}
</body>
</html>