<style>
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #343A40;
    overflow-x: hidden;
    padding-top: 20px;
	margin-top: 55px;
	color: #FFFFFF;
  }

h1, h4
{
    color: white;
}

body
{
    background-color: #343434;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
	text-align: center;
  }


</style>

<head>
    {{!-- <link rel="stylesheet" href="/static/css/gear.css"> --}}
</head>

<div class ="sidenav">

<h4> Trail Difficulty</h4>
<br>
<br>
<br>
<br>
<h4> Season</h4>

</div>


<div class = "main">
<h1> Gear For You</h1>
<h4> Your gear results from trail and season information.</h4>
</div>



