<head>
    {{!-- <link rel="stylesheet" href="/static/css/main.css"> --}}
</head>

    <header>
        <h1>Trails just for you</h1>
    </header>

    <form action="/nearbyTrails">
        <div class="form-group">
            <label for="exampleInputEmail1">ZipCode</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We share your information with the Zucc.</small>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>