<head>
    {{!-- <link rel="stylesheet" href="/static/css/main.css"> --}}
</head>

<!-- Banner -->
<section id="banner">
    <div class="inner">
        
        <header>
            <h1>Welcome to Bike Shop</h1>
        </header>

        <div class="flex ">

            <div>
                <a href= "/customers">Customer</a>
                <p>View/Edit Customers </p>
            </div>

            <div>
                <a href= "/sales">Sales</a>
                <p>View/Edit Sales</p>
            </div>

            <div>
                <a href= "/repairs">Repairs</a>
                <p>View/Edit Repairs</p>
            </div>

        </div>

    
    </div>