<head>
    {{!-- <link rel="stylesheet" href="/static/css/home.css"> --}}
</head>

<h2 id="heading">Trails Just For You</h2>

<div class="jumbotron">
    <form action="/nearbyTrails" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">ZipCode</label>
            <input type="text" class="form-control" id="userZipInput" name="userZip" placeholder="Enter zipcode">
            <small id="zipHelp" class="form-text text-muted">We share your information with the Zucc.</small>
        </div>

        <button type="submit" class="btn btn-primary" id="zipSubmit">Submit</button>
    </form>
</div>