
<h2 id="heading">Trails Just For You</h2>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-10">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <form action="/nearbyTrails" method="POST">
                    <div class="form-row">
                        <div class="col-10">
                        {{!-- <label for= "exampleInputEmail1">ZipCode</label> --}}
                        <input type="text" class="form-control" id="userZipInput" name="userZip" placeholder="Enter a zipcode to get started.">
                        </div>  
                        <div class="col text-center">
                            <button type="submit" class="btn btn-success" id="zipSubmit">Submit</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>