h2
{
	color: white;
}

.modal-header, .modal-body, .modal-footer
{
	background-color: #343A40;
	color: white;
}

.header-row
{
	padding-top: 2rem;
	padding-bottom: 1rem;
}

th, td
{
	color: white;
}

img
{
	height: 2.2em;
	cursor: pointer;
}

body
{
	background-color: #343434;
}